{% extends 'base.html.twig' %}

{% block title %}Zombicide Khatgade{% endblock %}
{% block upperheader %}
<div class="header_image">
    <img src="{{asset('images/background_village.jpg')}}" alt="">
</div>
{% endblock %}
{% block body %}
    <h1>Bonjour aventurier(e) 
        {% if app.user %} 
            {{app.user.username}}
        {% endif %} 
        {% set toto = 1%}
    </h1>
    <section id="home">
       
        {# --------------LOOP FOR TABLE---------- #}
        {% for table in tables %}
        <div class="table">
            <div>
                <h2>{{table.tableName}}</h2>
                <p>Le {{table.date|date("d/m/Y")}}</p>
                <p>Participant(es):</p>
                            {# --------VERIFIER SI LE USER EXISTE DANS LA TABLE------- #}
                {% set flag ='' %}
                {% if app.user %}
                    {% for profil in table.profils %} 
                        {% if profil.player != app.user.username and flag !=1 %}
                        {% elseif profil.player == app.user.username and flag !=1 %}
                            {% set flag = 1 %}
                        {% endif %}        
                    {% endfor %}
                    {% if flag != 1 %}
            
                        <a class="btn_join" href="{{ path('join_table',{'id' : table.id}) }}">Rejoindre la table <i class="fa-solid fa-right-to-bracket"></i></a>   
                    {% endif %}
                {% endif %}
            </div>
            
            {# --------------LOOP FOR PROFIL---------- #}
            <div class="players">
                {% for profil in table.profils %}
                {# <div>         #}
                    <p>{{profil.player}}</p>
                {# </div>     #}
                {% endfor %}
          
            </div>
            
            <a class="btn" href="{{ path('detail_table',{'id' : table.id}) }}">Voir la table</a>
        

        </div>
        {% endfor %}
    </section>
{% endblock %}
