{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block upperheader %}
<div class="header_image">
    <img src="{{asset('images/background_village.jpg')}}" alt="">
</div>
{% endblock %}
{% block body %}
    <h1>Bonjour aventurier(e) 
        {% if app.user %} 
        {{app.user.username}}
        {% endif %} 
    </h1>
    <section id="home">
        {# --------------LOOP FOR TABLE---------- #}
        {% for table in tables %}
        <div class="table">
            <div>
                <h2>{{table.tableName}}</h2>
                <p>Le {{table.date|date("d/m/Y")}}</p>
            </div>
            {# --------------LOOP FOR PROFIL---------- #}
            {% for profil in table.profils %}
            <div>
                {{profil.player}}
            </div>
            
            {% endfor %}
            
            {# VERIFY IF USER ALREADY IN TABLE #}
            {% if existuser == 1 %}
            {# {{dump(tests.0 is not defined)}} #}
                {% if tests.0 is not defined %}
                    <a class="join_btn" href="{{ path('join_table',{'id' : table.id}) }}">Rejoindre la table</a>
                {% elseif table.id == tests.0.player.id %}
                    <a class="join_btn" href="{{ path('join_table',{'id' : table.id}) }}">Rejoindre la table</a>
                {% endif %}
            {% endif %}
            <a href="{{ path('detail_table',{'id' : table.id}) }}">Voir la table en détails</a>
        </div>
        {% endfor %}
    </section>
{% endblock %}
