{% extends 'base.html.twig' %}

{% block title %}Liste des surviviants{% endblock %}

{% block body %}
<main>
    <div class="filter">
    {{ form_start (form) }}
        {{ form_widget (form) }}
        <button>Filtrer</button>
    {{ form_end (form)}} 
    </div>
    <section>
        {% for survivant in survivants %}

        {# SURVIVANT CARDS #}
        <article>   
            <div>
                <img src="{{asset('uploads/images/' ~ survivant.image)}}" alt="">
            </div>
            <div class="details">
                <h2>{{survivant.nom}}</h2>
                <ul>
                    <li class="blue">{{survivant.blueskill1.skillName}}
                        <span>{{survivant.blueskill1.description}}</span>
                    </li>
                    <li class="yellow">{{survivant.yellowskill.skillName}}
                        <span>{{survivant.yellowskill.description}}</span>
                    </li>
                    <li class="orange">{{survivant.orangeskill1.skillName}}
                        <span>{{survivant.orangeskill1.description}}</span>
                    </li>
                    <li class="orange">{{survivant.orangeskill2.skillName}}
                        <span>{{survivant.orangeskill2.description}}</span>
                    </li>
                    <li class="red">{{survivant.redskill1.skillName}}
                        <span>{{survivant.redskill1.description}}</span>
                    </li>
                    <li class="red">{{survivant.redskill2.skillName}}
                        <span>{{survivant.redskill2.description}}</span>
                    </li>
                    <li class="red">{{survivant.redskill3.skillName}}
                        <span>{{survivant.redskill3.description}}</span>
                    </li>
                </ul>
            </div>
        </article>
        {# END SURVIVANT CARDS #}
        {% endfor %}
    </section>
</main>
{% endblock %}
