{% extends 'base.html.twig' %}

{% block title %}Liste des surviviants{% endblock %}

{% block body %}
<main>
    <div class="filter">
    {{ form_start (form) }}

        {{ form_row (form.raceName) }}
        {{ form_row (form.ClasseName) }}
        <ul class="class_checkbox">
            <li><img src="{{asset('images/class/Mêlée.png')}}" alt="" title="Mêlée"></li>
            <li><img src="{{asset('images/class/Mage.png')}}" alt="" title="Mage"></li>
            <li><img src="{{asset('images/class/Archer.png')}}" alt="" title="Archer"></li>
            <li><img src="{{asset('images/class/Protecteur.png')}}" alt="" title="Protecteur"></li>
            <li><img src="{{asset('images/class/Soutient.png')}}" alt="" title="Soutient"></li>
            <li><img src="{{asset('images/class/Puissant.png')}}" alt="" title="Puissant"></li>
            <li><img src="{{asset('images/class/Agile.png')}}" alt="" title="Agile"></li>
        </ul>
        <button>Filtrer</button>
    {{ form_end (form)}} 
  
    </div>
    <section id="survivants">
        {% for survivant in survivants %}

        {# SURVIVANT CARDS #}
        <article 
        {% if survivant.id in survivantArray %}
            class="chosen"
        {% endif %}
        >   
            <div class="portrait">
                <img src="{{asset('uploads/images/' ~ survivant.image)}}" alt="portrait du survivant {{survivant.nom}}">
                <div class="story"><div class="text"><h3>{{survivant.nom}}:</h3>{{survivant.description | raw }}</div ></div>
                <p>Voir l'histoire</p>
            </div>
            <div class="details">
                <h2>{{survivant.nom}}</h2>
                <ul>
                    <li class="blue">{{survivant.blueskill1.skillName}}
                        <span>{{survivant.blueskill1.description}}</span>
                    </li>
                    {% if survivant.blueskill2.skillName is defined %}
                        <li class="blue">{{survivant.blueskill2.skillName}}
                            <span>{{survivant.blueskill2.description}}</span>
                        </li>
                    {% endif %}
                    <li class="yellow">{{survivant.yellowskill.skillName}}
                        <span>{{survivant.yellowskill.description}}</span>
                    </li>
                    <li class="orange">{{survivant.orangeskill1.skillName}}
                        <span>{{survivant.orangeskill1.description}}</span>
                    </li>
                    <li class="orange orange2">{{survivant.orangeskill2.skillName}}
                        <span>{{survivant.orangeskill2.description}}</span>
                    </li>
                    <li class="red">{{survivant.redskill1.skillName}}
                        <span>{{survivant.redskill1.description}}</span>
                    </li>
                    <li class="red">{{survivant.redskill2.skillName}}
                        <span>{{survivant.redskill2.description}}</span>
                    </li>
                    <li class="red">{{survivant.redskill3.skillName}}
                        <span>{{survivant.redskill3.description}}</span>
                    </li>
                </ul>
                <div class="classlogo">
                    {% for classe in survivant.classes %}
                        <img src="{{asset('images/class/' ~ classe.className ~'.png')}}" title="{{classe.className}}" alt="icone pour la classe {{classe.className}}">
                    {% endfor %}
                    
                    {% if profil != null %}
                        {% if survivant.id not in survivantArray %}
                            {% if profil.player.id == app.user.id %}
                                <a class="btn" href="{{ path('survivant_add',{'ids' : survivant.id, 'id' : profil.id}) }}">Ajouter</a>
                            {% endif %}       
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </article>
        {# END SURVIVANT CARDS #}
        {% endfor %}
    </section>
</main>
<script >
    let storys  = document.querySelectorAll('.story');
    let imgs = document.querySelectorAll('.portrait');
    

    imgs.forEach(item=>{
        let story = item.children[1];

        item.addEventListener('click',event  => {
            story.classList.toggle('storyVisible');
        })
        story.addEventListener('click',event  => {
            story.classList.toggle('storyVisible');
            event.stopPropagation(); 
        })
    })


    let listLength = document.querySelectorAll('.class_checkbox li').length;

    for (let i = 1; i<= listLength; i++){
        let newCheckBox = document.querySelector('.class_checkbox>li:nth-child('+i+') img');
        let checkBox = document.querySelector('[for="survivant_filter_ClasseName_'+i+'"]');
        let inputCheck = document.querySelector('#survivant_filter_ClasseName_'+i+'');

        newCheckBox.addEventListener('click',event  => {
        checkBox.click(); 
        })

        checkBox.addEventListener('click',event  => {
        newCheckBox.classList.toggle('cb_background');
        })

        if(inputCheck.checked){
            newCheckBox.classList.add('cb_background');
        }
      
    }





</script>
{% endblock %}
