<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/skull.png')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>     
        {% block upperheader %}{% endblock %}
        <header>
       
            {% block nav %}
            <nav>
                <ul>
                   
                    <li><a href="{{path('home')}}">Liste des tables</a></li>
                    <li><a href="{{path('survivants')}}">Liste des survivants disponibles</a></li>
                    {% if not app.user %}
                    <li><a href="{{path('app_login')}}">Connexion</a></li>
                    <li><a href="{{path('subscribe')}}">Inscription</a></li>
                    {% else %}
                    <li><a href="{{path('app_logout')}}">Deconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endblock %}
        </header>
        

        {% block body %}{% endblock %}
    </body>
</html>
